*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    margin: 30px auto;
    background-color: #ececec;
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 10px 18px rgb(85, 84, 84);
}


.calc-logo{
    text-align: center;
}

.calc-op{
    background-color: black;
    font-size: 40px;
    color: #09cc89;
    text-align: right;
    padding: 20px;
    font-family: 'Seven segment';
}

.container-calc{
    display: flex;
    width: 100%;
    margin: 20px 20px;
}

.calc-button{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: calc(100% / 2);
}

.calc-operators{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(100% / 3);

}

/*Tentativo formattazione bottoni */


.calc-button > .calc-numbers,
.calc-operators > .calc-functions {
    margin: 5px;
    font-size: 24px;
    padding: 10px 21px;
    border-radius: 10px;
}

/* Formattazione */
.calc-numbers {
    background-color: #bbbbbb;
    border: none;
}
.calc-functions {
    border: none;
}
.func{
    background-color: #ff9f0a;
    color: white;
}

.op{
    background-color: #77a8b0;
    color: white;
}

/*Allargo il bottone zero*/
.big{
    flex-grow: 1;
}